    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1 class="h3 pt-3 pb-2 border-bottom">Search : Learning Chat</h1>

      <% @learnings.each do |learning| %>
        <div class="post border-bottom  w-100">
          <div class="post-date small">
            投稿者：<%= learning.user.nickname %> 投稿日時：<%= l learning.created_at %>
          </div>
          <div class="post-title small">
            タイトル：<%= learning.url %>
          </div>
          <div class="post-content">
            <%= learning.content %>
          </div>
          <%= image_tag learning.image.variant(resize: '500x500'), class: 'message-image' if learning.image.attached?%>
        </div>
        <div id="like-btn<%= learning.id %>">
          <%= render partial: "learning_likes/like", locals: { learning: learning } %>

          <% if user_signed_in? && current_user.id == learning.user_id %>
            <%= link_to '編集', edit_learning_path(learning.id), class: "pb-3 mb-0 small lh-sm" %>
          <% end %>
        </div>
      <% end %>


    </main>