    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <h1 class="h3 pt-3 pb-2 border-bottom">Edit : Job Chat Room</h1>

      <%= form_with(model: @job, class: 'form', local: true) do |f| %>
        <div class="form-title">
          <%= f.text_field :title, class: 'form-message', placeholder: 'タイトル!' %>
        </div>
        <div class="form-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'Tipsを編集しよう!' %>
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '更新', class: 'form-submit' %>
      <% end %>

    </main>