    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%= render partial: "header" %>

      <% @jobs.each do |job| %>
        <% if job.user == current_user %>
          <div class="text-end">
            <div class="post border-bottom  w-100">
              <div class="post-date small">
                投稿者：<%= job.user.nickname %> 投稿日時：<%= l job.created_at %>
                <% if user_signed_in? && current_user.id == job.user_id %>
                  <%= link_to '編集', edit_job_path(job.id), class: "pb-3 mb-0 small lh-sm" %>
                <% end %>
              </div>
              <div class="post-title small">
                タイトル：<%= job.title %>
              </div>
              <div class="post-content">
                <%= job.content %>
              </div>
              <div>
                <%= image_tag job.image.variant(resize: '500x500'), class: 'message-image' if job.image.attached?%>
              </div>
              <% if job.tags.first.present? %>
                <div class="post-tag small btn btn-outline-secondary btn-sm">
                  <%= job.tags.first&.tag_name %>
                </div>
              <% end %>
            </div>
            <div id="like-btn<%= job.id %>">
              <%= render partial: "job_likes/like", locals: { job: job } %>
            </div>
          </div>
        <% else %>
          <div class="text-start">
            <div class="post border-bottom  w-100">
              <div class="post-date small">
                投稿者：<%= job.user.nickname %> 投稿日時：<%= l job.created_at %>
                <% if user_signed_in? && current_user.id == job.user_id %>
                  <%= link_to '編集', edit_job_path(job.id), class: "pb-3 mb-0 small lh-sm" %>
                <% end %>
              </div>
              <div class="post-title small">
                タイトル：<%= job.title %>
              </div>
              <div class="post-content">
                <%= job.content %>
              </div>
              <div>
                <%= image_tag job.image.variant(resize: '500x500'), class: 'message-image' if job.image.attached?%>
              </div>
              <% if job.tags.first.present? %>
                <div class="post-tag small btn btn-outline-secondary btn-sm">
                  <%= job.tags.first&.tag_name %>
                </div>
              <% end %>
            </div>
            <div id="like-btn<%= job.id %>">
              <%= render partial: "job_likes/like", locals: { job: job } %>
            </div>
          </div>
        <% end %>
      <% end %>

      <canvas class="my-4 w-100" id="myChart" width="900" height="300"></canvas>

    </main>