        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0 fs-5">Learning : Ranking updates</h6>

            <% @learnings.first(5).each_with_index do |learning, index| %>
              <div class="d-flex text-body-secondary pt-3">
                <div class="bd-placeholder-img flex-shrink-0 me-3 rounded input-group-text" width="32" height="32">
                  <%= index + 1 %>
                </div>
                <p class="pb-3 mb-0 small lh-sm border-bottom w-100">
                  <strong class="d-block text-gray-dark pb-1 mb-1"><%= learning.title %></strong>
                  <%= learning.content %>
                </p>
              </div>
            <% end %>

            <small class="d-block text-end mt-3">
              <%= link_to 'All updates', "/learnings" %>
            </small>
          </div>

          <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0 fs-5">Job : Ranking updates</h6>

            <% @jobs.first(5).each_with_index do |job, index| %>
              <div class="d-flex text-body-secondary pt-3">
                <div class="bd-placeholder-img flex-shrink-0 me-3 rounded input-group-text" width="32" height="32">
                  <%= index + 1 %>
                </div>
                <p class="pb-3 mb-0 small lh-sm border-bottom w-100">
                  <strong class="d-block text-gray-dark pb-1 mb-1"><%= job.title %></strong>
                  <%= job.content %>
                </p>
              </div>
            <% end %>

            <small class="d-block text-end mt-3">
              <%= link_to 'All updates', "/jobs" %>
            </small>
          </div>
        </main>