<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.112.5">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag  "turbo" ,type: "module" %>

    <title>Community App</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }

      .form {
        background-color: #DDDDDD;
        height: 90px;
        padding: 20px 40px;
        display: flex;
      }

      .form-input {
        background-color: white;
        width: 100%;
        display: flex;
      }

      .form-title{
        border-right: solid 4px #DDDDDD;
      }

      .form-message {
        border: none;
        height: 50px;
        width: 100%;
        padding-left: 10px;
      }

      .form-submit {
        background-color: #38AEF0;
        border: none;
        color: white;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 20px;
      }

      .form-image {
        font-size: 12px;
        background-color: lightblue;
        color: white;
        padding: 12px;
        width: 60px;
        margin: 5px 10px;
        text-align: center;
      }

      .hidden {
        display: none;
      }

      .post{
        width: 40%;
        margin-top: 30px;
      }

      .post-date{
        color: gray;
      }

      .nav-template{
        text-decoration: none;
      }

      .test1{
        counter-reset: my-counter;
        list-style-type: none;
      }

      .test1 li:before {
        content: ""counter(my-counter) ;
        counter-increment: my-counter;
        padding:10px;
        margin: 10px;
        color: red;
        background: black;
      }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-2 shadow" data-bs-theme="dark">
      <%= link_to 'Tips Community', "/", class: "nav flex-column align-items-center col-md-3 col-lg-2 me-0 px-3 fs-10 text-white nav-template" %>
      
      <%= form_with(url: search_learnings_path, local: true, method: :get, class: "d-flex") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control me-2" %>
        <%= form.submit "検索", class: "btn btn-outline-success" %>
      <% end %>

    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <div class="offcanvas-lg offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
              <h6 class="nav flex-column mb-auto align-items-center pb-1 px-3 mt-3 mb-1 text-body-secondary text-uppercase">
                <span class="border-bottom">Chat Room</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">

                </a>
              </h6>
              <ul class="nav flex-column align-items-center">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">

                    <%= link_to 'Users Table', "/users", class: "nav-template" %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    <%= link_to 'Learning', "/learnings", class: "nav-template" %>
                    <%#= link_to image_tag("star.png", class:"furima-icon"), "/learnings" %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    <%= link_to 'Job', "/jobs", class: "nav-template" %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    Others
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    
                  </a>
                </li>
              </ul>

              <h6 class="nav flex-column mb-auto align-items-center pb-1 px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span class="border-bottom">Reports</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">

                </a>
              </h6>
              <ul class="nav flex-column mb-auto align-items-center">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    Current month
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    Last quarter
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    Social engagement
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">

                    Others
                  </a>
                </li>
              </ul>

              <hr class="my-3">

              <ul class="nav flex-column mb-auto align-items-center">
                <% if user_signed_in? %>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">
                    <%= link_to "My page", edit_user_path(current_user), class: "nav-template" %>
                  </a>
                </li>
                <% end %>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">
                      <%= link_to "Sing out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-template" %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
